<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prelim Parts</title>
    <link rel="stylesheet" href="AW2PartStyles.css">
</head>
<body>
    <div class="button-container">
        <button id="part1Button">
            <h1>Part 1</h1>
            <div style="flex-grow: 1;"></div>
            <h3>Static and Public</h3>
        </button>
        <button id="part2Button">
            <h1>Part 2</h1>
            <div style="flex-grow: 1;"></div>
            <h3>Java Inheritance</h3>
        </button>
        <button id="part3Button">
            <h1>Part 3</h1>
            <div style="flex-grow: 1;"></div>
            <h3>Java Polymorphism</h3>
        </button>
        <div id="backButton">Back to Lobby</div>
    </div>

    <script src="AW2PartScript.js"></script>
</body>
</html>
