<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <title>Character Selection</title>
    <link rel="stylesheet" href="~/css/custom/BcharStyles.css">
</head>
<body>
    <div class="carousel">
        <!-- list item -->
        <div class="list">
            <div class="item">
                <img src="~/image/Custom/RangerGirl.jpg">
                <div class="content">
                    <div class="author">WHISPHERWIND</div>
                    <div class="title">ELARA</div>
                    <div class="topic">NIGHTSHADE</div>
                    <div class="des">
                        Like a phantom breeze, Elara, named for a graceful nymph,<br>
                        moves unseen through the wilds.  Her connection to nature,<br>
                        symbolized by "Nightshade," makes her a master of stealth and survival.
                    </div>
                    <div class="buttons">
                        <a href='@Url.Action("BasicLobby", "Capstone")'
                           data-walk="GRangerWalk.png"
                           data-idle="GRangerIdle.png"
                           data-attack="GRangerAttack.png"
                           onclick="selectCharacter(this)">SELECT</a>
                        <button onclick="showSpriteSheet('GRangerIdle1.png', 720, 27404, 31)">View Character</button>

                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/image/Custom/RangerBoy.jpg">
                <div class="content">
                    <div class="author">SWIFTARROW</div>
                    <div class="title">HAWKEYE</div>
                    <div class="topic">TALON</div>
                    <div class="des">
                        His vision is as sharp as the hawk's he's named after,<br>
                        and his arrows fly with the speed of the "Swiftarrow."<br>
                        Hawkeye's unmatched skill makes him a legend on the battlefield.
                    </div>
                    <div class="buttons">
                        <a href="#" onclick="selectCharacter(this)">SELECT</a>
                        <button onclick="showSpriteSheet('BRangerIdle.png', 526, 21480, 30)">View Character</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/image/Custom/WarriorGirl.jpg">
                <div class="content">
                    <div class="author">STORMBREAKER</div>
                    <div class="title">BRYNHILDR</div>
                    <div class="topic">BJORN</div>
                    <div class="des">
                        Fierce as the storms of legend, Brynhildr lives up to her namesake,<br>
                        a Valkyrie reborn.  Her weapon, "Stormbreaker," <br>
                        is as much an extension of her will as it is forged steel.
                    </div>
                    <div class="buttons">
                        <a href="#" onclick="selectCharacter(this)">SELECT</a>
                        <button onclick="showSpriteSheet('GWarriorIdle.png', 615, 30500, 61)">View Character</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/image/Custom/WarriorBoy.jpg">
                <div class="content">
                    <div class="author">IRONFIST</div>
                    <div class="title">AETHELRED</div>
                    <div class="topic">VANCE</div>
                    <div class="des">
                        His name carries the weight of noble lineage,<br>
                        but his reputation as "Ironfist" speaks louder.<br>
                        Every battle-scarred knuckle tells a tale of unwavering strength.
                    </div>
                    <div class="buttons">
                        <a href="#" onclick="selectCharacter(this)">SELECT</a>
                        <button onclick="showSpriteSheet('BWarriorIdle.png', 515, 8800, 22)">View Character</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/image/Custom/MagicianGirl.jpg">
                <div class="content">
                    <div class="author">STARLIGHT</div>
                    <div class="title">SERAPHINA</div>
                    <div class="topic">MOONBEAM</div>
                    <div class="des">
                        Don't be fooled by the ethereal beauty of her name.<br>
                        Seraphina, like the "Starlight" she commands,<br>
                        holds immense magical power within.
                    </div>
                    <div class="buttons">
                        <a href="#" onclick="selectCharacter(this)">SELECT</a>
                        <button onclick="showSpriteSheet('GMagicianIdle.png', 526, 42840, 60)">View Character</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/image/Custom/MagicianBoy.jpg">
                <div class="content">
                    <div class="author">SHADOWBINDER</div>
                    <div class="title">CORVUS</div>
                    <div class="topic">ESCHER</div>
                    <div class="des">
                        With eyes like obsidian and movements<br>
                        as silent as a raven's wing, Corvus is shrouded in mystery.<br>
                        Those who dare to underestimate him soon learn the true meaning of "Shadowbinder."
                    </div>
                    <div class="buttons">
                        <a href="#" onclick="selectCharacter(this)">SELECT</a>
                        <button onclick="showSpriteSheet('BMagicianIdle.png', 524, 44164, 61)">View Character</button>
                    </div>
                </div>
            </div>



        </div>
        <!-- list thumnail -->
        <div class="thumbnail">
            <div class="item">
                <img src="~/image/Custom/RangerGirl.jpg">
            </div>
            <div class="item">
                <img src="~/image/Custom/RangerBoy.jpg">
            </div>
            <div class="item">
                <img src="~/image/Custom/WarriorGirl.jpg">
            </div>
            <div class="item">
                <img src="~/image/Custom/WarriorBoy.jpg">
            </div>
            <div class="item">
                <img src="~/image/Custom/MagicianGirl.jpg">
            </div>
            <div class="item">
                <img src="~/image/Custom/MagicianBoy.jpg">
            </div>
        </div>

        <!-- Modal Structure with test content -->
        <div id="spriteModal" class="modal">
            <span class="close" onclick="closeModal()">&times;</span>
            <div id="spriteContainer" class="sprite-container">
                <!-- Test content to check if modal works -->
            </div>
        </div>

        <!-- next prev -->
        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <!-- time running -->
        <div class="time"></div>

        <div id="backButton">Logout</div>
    </div>

    <script src="~/js/custom/BcharScript.js"></script>
</body>
</html>
