<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prelim Parts</title>
    <link rel="stylesheet" href="BW1PartStyles.css">
</head>
<body>
    <div class="button-container">
        <button id="part1Button">
            <h1>Part 1</h1>
            <div style="flex-grow: 1;"></div>
            <h3>Basic Elements of Java</h3>
        </button>
        <button id="part2Button">
            <h1>Part 2</h1>
            <div style="flex-grow: 1;"></div>
            <h3>Java Application Program</h3>
        </button>
        <button id="part3Button">
            <h1>Part 3</h1>
            <div style="flex-grow: 1;"></div>
            <h3>Basic Operators</h3>
        </button>
        <div id="backButton">Back to World 1</div>
    </div>

    <script src="BW1PartScript.js"></script>
</body>
</html>
