@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Java Type</title>
<link rel="stylesheet" href="~/css/custom/javaTypeStyles.css">

<div class="split-container">
    <div class="left-half">
        <a href="@Url.Action("BcharSelect", "Capstone")" @*'BcharSelect.html'*@>Basic Java Programming</a>
    </div>
    <div class="right-half">
        <a href="@Url.Action("AcharSelect", "Capstone")" @*'AcharSelect.html*@'>Advanced Java Programming</a>
    </div>
	<button id="backButton">Logout</button>
</div>


@* <script src="~/js/custom/javaTypeScript.js"></script> *@

<script src="/jquery/jquery.min.js"></script>
<script src="/js/custom/javatypescript.js"></script>