@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Offline Java Compiler</title>
<link rel="stylesheet" href="~/css/custom/PracticeStyle.css">

<div class="container">
    <h1>Offline Java Compiler</h1>
    <textarea id="javaCode" placeholder="Type your Java code here..."></textarea>
    <button id="compile" onclick="compileAndRun()">Compile and Run</button>
    <pre id="output"></pre>
    <button id="backButton">Go to Basic Lobby</button>
</div>

<script src="~/js/cutom/PracticeScript.js"></script>