@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Shop Buttons</title>
<link rel="stylesheet" href="~/css/custom/shopStyle.css">

<div class="container">
    <button class="button left">
        <img src="~/image/Custom/heroShop.jpg" alt="Hero Shop">
    </button>
    <button class="button right">
        <img src="~/image/Custom/skinShop.jpg" alt="Skin Shop">
    </button>
</div>